.container {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.container .routes {
  position: relative;
  width: 100%;
  background-color: red;
  height: 10px;
}

.my-position {
  background-color: burlywood;
}
